<ng-container *ngIf="(movie$ | async) as movie">

  <div class="flex flex-row items-center justify-between">
    <h1 mat-dialog-title class="text-3xl custom-mat-dialog-title">{{ movie.title + ' (' + movie.year + ')' }}</h1>
    <mat-icon (click)="close()" class="mr-[24px] cursor-pointer">close</mat-icon>
  </div>

  <div mat-dialog-content class="custom-mat-dialog-content">
    <div>
      <p class="text-sm text-black text-justify">{{ movie.description }}</p>
      <div class="custom-mat-dialog-sub-content mt-5">
        <div>
          <h2 class="text-black font-medium">Genre</h2>
          <p class="text-sm text-black">{{ movie.genre }}</p>
        </div>
        <div>
          <h2 class="text-black font-medium">Director</h2>
          <p class="text-sm text-black">{{ movie.director }}</p>
        </div>
        <div>
          <h2 class="text-black font-medium">Revenue</h2>
          <p class="text-sm text-black">{{ movie.revenue }} million dollars</p>
        </div>
        <div>
          <h2 class="text-black font-medium">Score</h2>
          <p class="text-sm text-black">{{ movie.score }} / 10</p>
        </div>
      </div>
    </div>
    <img *ngIf="movie.imageUrl" [src]="movie.imageUrl" alt="Movie image">
    <img *ngIf="!movie.imageUrl" src="/assets/default-movie.png" alt="Movie default image">
  </div>

</ng-container>
