<div class="bg-[#f2f5f7] w-full">
  <form class="flex flex-row items-center p-[1.25rem] gap-14 w-full justify-between" [formGroup]="filtersForm">
    <div class="flex flex-row items-center gap-1">
      <input class="border border-black p-1" formControlName="search" (keyup)="onChange()" placeholder="Search by name...">
    </div>
    <div class="flex flex-row gap-5">
      <div class="flex flex-row items-center gap-1">
        <p>View:</p>
        <select class="custom-select" required formControlName="view" (change)="onChange()">
          <option value="none">All</option>
          <option value="top-10">Top 10</option>
        </select>
      </div>
      <div class="flex flex-row items-center gap-1">
        <p>Year:</p>
        <select class="custom-select" required formControlName="year" (change)="onChange()">
          <option value="none">All</option>
          <option *ngFor="let year of getYearRange(1971, 2016)" [value]="year">{{year}}</option>
        </select>
      </div>
      <div class="flex flex-row items-center gap-1">
        <p>Order by:</p>
        <select class="custom-select" required formControlName="orderBy" (change)="onChange()">
          <option value="id">Relevance</option>
          <option value="revenue-asc">Revenue (Ascending order)</option>
          <option value="revenue-desc">Revenue (Descending order)</option>
          <option value="year-asc">Year (Ascending order)</option>
          <option value="year-desc">Year (Descending order)</option>
        </select>
      </div>
    </div>
  </form>
</div>

<div class="ml-[1.25rem] mr-[1.25rem] flex flex-row flex-wrap gap-5 justify-center py-5"
     [infiniteScrollDisabled]="isViewDifferentOfAll()" infiniteScroll
     [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="fetch()">
  <app-movie-card *ngFor="let movie of items" [movie]="movie"
                  (clickEventEmitter)="onCardClick($event)"></app-movie-card>
</div>
